{% extends 'base.html.twig' %}
{% block title %}Task Management{% endblock %}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="container">
                Edycja istniejacego taska
                {{ form_start(edit_task_form) }}
                    {{ form(edit_task_form) }}
                {{ form_end(edit_task_form) }}
            Lista poddatskow:
            <div class="row table-head">
                {% for subtask in sub_task_list %}
                    <div class="col-md-9 col-lg-9">{{subtask.description}}</div>
                    <div class="col-md-3 col-lg-3"><a href= "{{path('sub_task_delete', {id: subtask.id}) }}">Usun SubTask</a></div>
                {% endfor %}
            </div>
            <div class="col-md-2 col-lg-2"><a href= "{{path('task_list') }}">Wroc do listy taskow</a></div>
        </div>
    {% endif %}
{% endblock %}