{% extends 'base.html.twig' %}
{% block title %}Task Management{% endblock %}
{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="container">
                Edycja istniejacego taska
                {{ form_start(edit_task_form) }}
                    {{ form(edit_task_form) }}
                {{ form_end(edit_task_form) }}
            <div class="row table-head"> Lista poddatskow, ktore mozna edytowac:
                {% for subtask in sub_task_list %}
                    <div>{{subtask.description}}</div>
                {% endfor %}
            </div>
            <div><a href= "{{path('task_list') }}"> Wroc do listy taskow </div>
        </div>
    {% endif %}
{% endblock %}